/* You can add global styles to this file, and also import other style files */

:root {
  --multimap-widget-color-primary:                   #D81E05;
  --multimap-widget-color-primary-02:                #BE0F0F;
  --multimap-widget-color-primary-03:                #AC0404;
  --multimap-widget-color-secondary:                   transparent;
  --multimap-widget-color-secondary-02:                transparent;
  --multimap-widget-color-secondary-03:                transparent;
  --multimap-widget-color-black:                      #152A35;
  --multimap-widget-color-grey-dark:                  #4D5D66;
  --multimap-widget-color-grey-medium-dark:           #859198;
  --multimap-widget-color-grey-medium:                #BDC4C9;
  --multimap-widget-color-grey-medium-light:          #D9DFE3;
  --multimap-widget-color-grey-light:                 #EDF1F3;
  --multimap-widget-color-white:                      #FFFFFF;
}

