<mfe-navigation-mets-layout-component titleName="Reparación y reformas">

  <div content>
    <div class="header-page">
      <div class="header-page__top">
        <div>
          <img class="logo" src="/assets/integrations/mets/logo.svg">
          <h1>Reparación y reformas, 365 días del año</h1>
          <p>
            Calidad MAPFRE para tu casa o tu negocio.
            <br>
            Recuerda que se trata de un servicio de pago independiente a tu póliza de hogar.
          </p>
        </div>
        <img class="illustration" src="/assets/integrations/mets/illustration-intro.svg">
      </div>
      <ul>
        <li>Servicio <b>24 horas</b> los <b>365 días</b> del año</li>
        <li><b>Presupuesto único</b> y sin compromiso</li>
        <li><b>Compromiso</b> de entrega y satisfacción</li>
        <li><b>Cobertura nacional</b></li>
        <li><b>Garantía de 6 meses</b></li>
        <li><b>Financiación</b> personalizada</li>
      </ul>
    </div>
  </div>

  <div footer>
    <button (click)="onContinue()">Solicita presupuesto</button>
  </div>

</mfe-navigation-mets-layout-component>